{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<h1>Top 50 Facebook Influencers</h1>
<h4><a href="{% url 'influencer:filter' %}">Filter posts</a></h4>
{% if top_users %}

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Username</th>
      <th>Followers</th>
      <th>Uid</th>
    </tr>
  </thead>
  <tbody>
    {% for user in top_users %}
      <tr>
        <td><a href="{% url 'influencer:personal' user.id %}">{{ user.name }}</a></td>
        <td>{{ user.followers }}</td>
        <td>{{ user.uid }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}


{% if top_users.has_other_pages %}
  <ul class="pagination">
    {% if top_users.has_previous %}
      <li><a href="?page={{ top_users.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in top_users.paginator.page_range %}
      {% if top_users.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if top_users.has_next %}
      <li><a href="?page={{ top_users.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}


{% endblock %}