{% if posts %}
<ul>
    {% for post in posts %}
        <h4>{{ post.user }} - {{ post.user.followers}}</h4>
        <p>{{ post.message }}</p>
    {% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ posts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a>
            <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>



{% else %}
    <p>No post available</p>
    <a href="{% url 'influencer:searchpost' %}">Search again?</a>
{% endif %}

