{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
  <form method="get">
    <div class="well">
      <h4 style="margin-top: 0">Filter</h4>
      <div class="row">
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.postid.label_tag }}
          {% render_field filter.form.postid class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.message.label_tag }}
          {% render_field filter.form.message class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.created__lt.label_tag }}
          {% render_field filter.form.created__lt class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.created__gt.label_tag }}
          {% render_field filter.form.created__gt class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.likes__lte.label_tag }}
          {% render_field filter.form.likes__lte class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.likes__gte.label_tag }}
          {% render_field filter.form.likes__gte class="form-control" %}        
        </div>
      </div>
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span> Search
      </button>
    </div>
  </form>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>User</th>
        <th>Message</th>
        <th>Created_time</th>
        <th>Likes</th>
      </tr>
    </thead>
    <tbody>
      {% for post in queryset %}
        <tr>
          <td>{{ post.influencer.name }}</td>
          <td>{{ post.message }}</td>
          <td>{{ post.created }}</td>
          <td>{{ post.likes }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">No data</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

<div class="pagination">
    <span class="step-links">
        {% if "message" in request.get_full_path %}

            {% if queryset.has_previous %}
                <a href="{{  request.get_full_path }}&page=1">&laquo; first</a>
                <a href="{{ request.get_full_path }}&page={{ queryset.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ queryset.number }} of {{ queryset.paginator.num_pages }}
            </span>

            {% if queryset.has_next %}
                <a href="{{ request.get_full_path }}&page={{ queryset.next_page_number }}">next</a>
                <a href="{{ request.get_full_path }}&page={{ queryset.paginator.num_pages }}">last &raquo;</a>
            {% endif %}

        {% else %}

            {% if queryset.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ queryset.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ queryset.number }} of {{ queryset.paginator.num_pages }}
            </span>

            {% if queryset.has_next %}
                <a href="?page={{ queryset.next_page_number }}">next</a>
                <a href="?page={{ queryset.paginator.num_pages }}">last &raquo;</a>
            {% endif %}

        {% endif %}

    </span>
</div>
  
{% endblock %}