{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<h3>{{ page.name }}</h3>

<table class="table table-bordered">
<thead>
  <tr>
    <th>AdsId</th>
    <th>Content</th>
    <th>Created_time</th>
    <th>Likes</th>
    <th>Shares</th>
    <th>Cmt</th>
  </tr>
</thead>
<tbody>
  {% for ad in ads %}
    <tr>
      <td><a href="https://www.facebook.com/{{ ad.addid }}" target="_blank">{{ ad.addid }}</a></td>
      <td>{{ ad.content }}</td>
      <td>{{ ad.created_time }}</td>
      <td>{{ ad.likes }}</td>
      <td>{{ ad.shares }}</td>
      <td>{{ ad.comments }}</td>
    </tr>
  {% empty %}
    <tr>
      <td colspan="5">No data</td>
    </tr>
  {% endfor %}
</tbody>
</table>


{% endblock %}